.backgroundImage{
    color: white;
    background-image: url("../../assets/people_talking.png") ;
    background-size: cover;
    height: 50vh;
}

.section{
    background-color: rgb(34, 34, 34);
    height: 40vh;
}

.description{
    text-indent: 2rem;
    color: whitesmoke;
    font-size: 18px
}
