.backgroundImage{
    color: white;
    background-image: url("../../assets/sobre_nos_bg.jpg") ;
    background-size: cover;
    height: 80vh;
}

.description{
    color: whitesmoke;
    font-size: 1.3rem;
    text-shadow: 6px 7px 8px rgb(0, 0, 0);
}

@media (max-width: 960px){
    .description{
        font-size: 0.8rem
    }
} 