.backgroundImage{
    color: white;
    background-image: url("../../assets/people_talking.png") ;
    background-size: cover;
    height: 80vh;
}

.description{
    text-indent: 2rem;
    font-weight: 500;
    color: whitesmoke;
    font-size: 1.6rem;
    text-shadow: 6px 7px 8px rgb(0, 0, 0);
}
