ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}

.products > li{
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
}

.carousel .slide{
    background-color: transparent !important;
}

strong{
    font-weight: 700 !important;
}

span{
    width: 90% !important
}

.icon-vantagens{
    color: #28a745 !important;
    font-size: 30px !important; 
    margin-right: 10px !important; 
    width: 5% !important
}