.fundo_slide1{
    background-image: url('../../assets/market.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.fundo_slide2{
    background-image: url('../../assets/city.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.fundo_slide3{
    background-image: url('../../assets/cafe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.textBlackVant{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size:24px;
    border-radius: 20px 0px 20px 0;
    margin-left: 20px;
    margin-top: 10%;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    padding-bottom:0px;
    margin-bottom:0px;
}
.textBlackItens{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size:18px;
    border-radius: 20px 0px 10px 0;
    margin-left: 40px;
    margin-top: 40px;
    text-align: justify;
    padding-top:0px;
}
.slide{
    max-height: 100% !important;
}
.dark_theme{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #212529;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
.imgIcone{
    width: 1%;
}