strong{
    font-weight: 700 !important;
}

span{
    font-size: 1.1rem;
    width: 90% !important
}

.vantagens > li{
    margin-bottom: 0.5rem;
    align-items: center;
    display: flex;
}

.icon-vantagens{
    color: #00788c !important;
    font-size: 50px !important; 
    margin-right: 10px !important; 
    width: 5% !important
}

html body div#root div.text-light.justify-content-center.align-items-center.row div.col-sm-12 div.presentation-mode div.carousel.carousel-slider{
    background-color: rgba(0,0,0,0.5);
}