
@font-face {
    font-family: 'Roboto Slab';
    src: url('../../assets/RobotoSlab-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('../../assets/RobotoCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
.cor{
    font-family: 'Roboto Slab' !important;
    color: white;
}
.firstSection{
    background-color:#00788c;
}
.secondSection{
    background-color:black;
}
.title{
    font-family: 'Roboto' !important;
    margin-top:2%;
    margin-bottom:3%;
}
.text{
    margin-top:35px;
    margin-bottom:35px;
    margin-left:25px;
    margin-right:25px;
    text-align: justify;
    text-justify: inter-word;
    vertical-align: middle;
    font-family: 'Roboto' !important;
}
.img{
    justify-content: "center";
    align-items: "center";
}
.paragrafh{
    margin-bottom:3%;
}
.img-right{
    margin-top:35px;
    margin-bottom:35px;
    margin-left:20%;
}
.img-left{
    margin-left:10%;
    margin-top:35px;
    margin-bottom:35px;
}