.fundoBranco{
    background-color:#212529;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
    min-height: 100vh;
}
.esp{
    padding-top: 20px;
    padding-bottom: 20px;
}
.descricao{
    padding-left: 20px;
}
.info{
    padding-top: 10%;
}
.item{
    padding-top: 50px;
}