
/* Para Desktop e notebooks*/
@media (min-width:1224px) {
    .img{
        display: block;
    }
}
/* Para Iphone 5*/
@media (device-width: 320px){
    .text{
        font-size: 1.3em;
    }
    .strong{
        font-size: 1em;
    }
}

/* Para smartphones*/
@media (max-width:1224px) {
    .img{
        display: none;
    }
}