.btn-club{
    background: #00788c;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px !important;
}

.btn-club:hover{
    opacity: 0.7;
    color: white;
    transition: all 0.5s;
}

.title{
    font-size: 1.2em;
}

.text{
    font-size: 0.8em;
}
.strong{
    font-size: 1.2em;
}

/* Para Desktop e notebooks*/
@media (min-width:1224px) {
    .img{
        display: block;
        margin-bottom: 1.5rem !important;
    }
}
/* Para Iphone 5*/
@media (device-width: 320px){
    .text{
        font-size: 1.3em;
    }
    .strong{
        font-size: 1em;
    }
}

/* Para smartphones*/
@media (max-width:1224px) {
    .img{
        display: none;
    }
    .title{
        font-size: 1.1em !important;
    }
    .text{
        font-size: 1em !important;
    }
    .strong{
        font-size: 1.06em !important;
    }
}