strong{
    font-weight: bold;
}

.title_app{
    font-size: 1.6rem !important;
}
.list_responsive{
    font-size: 1rem !important
}
.card_image_app{
    width: 45% !important;
}
.height_responsive{
    height: 60vh !important
}


@media (max-width: 769px){
    .title_app{
        font-size: 0.7rem !important;
    }
    .list_responsive{
        font-size: 0.5rem !important
    }
    .card_image_app{
        width: 45% !important;
    }
    .height_responsive{
        height: 80vh !important
    }
    .button_responsive_app{
        font-size: 0.8rem;
    }
}