.fundoBranco{
    background-color:#212529;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
    min-height: 100vh;
}
.esp{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ramo{
    font-size:20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 20px;
}
.final{
    padding-bottom: 20px;
}
.basicInfo{
    margin-left: 7.5%;
}
.new-line {
  white-space: pre-line;
}
.label{
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-bottom: 0px;
    font-size:14px;
}
.images{
    margin-top: 4%;
    margin-bottom: 4%;
}
.imagem{
    width:20%;
}
.hide{
    display:none
}
.listraUm{
    background-color: #262a2e;
    margin-left:-15px;margin-right:-15px;
}
.listraDois{
    background-color: #40474e;
    margin-left:-15px;margin-right:-15px;
}
.c1{
    background-color: #262a2e;
    border:none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
    outline: none !important;
}
.c2{
    background-color: #40474e;
    border:none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
    outline: none !important;
}
.estabInfo{
    font-size:18px;
}
.vantagens{
    padding-top: 3%;
}
.aviso{
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif !important;
}