html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: rgba(0,0,0,0.7) !important
}

.no-border{
    border: none !important
}

.border-lista{
    border-bottom: 1px solid #00788c !important
}


@media (max-width: 768px){
    .column{
        flex-direction: column;
    }
}