.navbar-trade{
    background: rgba(14, 14, 14, 0.9);
    padding: 0 !important;
    height: 10vh;
}

.navbar-link-trade{
    color: whitesmoke !important;
    font-size: 15px;
    font-weight: 500;
    align-self: center;
}

.navbar-link-trade:hover{
    color: var(--trade-light) !important;
    text-decoration: none;
    transition: 0.3s;
}
.logo{
    padding-top: .1025rem !important;
}