.navbar-trade{
    background: rgba(14, 14, 14, 0.9);
    padding: 0 !important;
    height: 10vh;
    z-index: 1;
}
.nav-item{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4vh;
}
.navbar-link-trade{
    color: whitesmoke !important;
    font-size: 15px;
    font-weight: 500;
}

.navbar-link-trade:hover{
    color: var(--trade-light) !important;
    text-decoration: none;
    transition: 0.3s;
}
.logo{
    padding-top: .1025rem !important;
}