
.logo{
    height: 50px;
    width: auto;
}

.navbar-link-trade{
    color: whitesmoke !important;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
}

.navbar-link-trade:hover{
    color: var(--trade-light) !important;
    text-decoration: none;
    transition: 0.3s;
}

.margin-auto{
    margin: 0 auto;
}