.input{
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

label{
    color: #fff !important
}

/* ----------  Estilo do input de telefone   ----------*/
.input-tel{
    color: #fff !important;
    border-color: #fff !important;
    width: 100%;
}
.MuiInput-input{
    color: #fff !important;
}
.MuiInput-underline{
    border-color: #fff !important;
}
.MuiInput-underline:before{
    border-bottom: 2px solid #fff !important;
}
.MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: 2px solid #fff !important;
}
.MuiInput-underline:after{
    border-bottom: 2px solid #fff !important;
}
/* ----------------------------------------------------*/
.btn-club{
    background: #00788c;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px !important;
}

.btn-club:hover{
    opacity: 0.7;
    color: white;
    transition: all 0.5s;
}

@media (max-width: 1460px){
    .height_responsive_contato{
        height: 130vh !important
    }
}

@media (max-width: 768px){
    .padding-sm{
        padding: 2rem !important
    }
    .title-sm{
        font-size: 1.7rem
    }
    .height_responsive_contato{
        height: 150vh !important
    }
} 
