.cor{
    color: white;
    width: 100%;
    background-image: url("../../assets/background1.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
    padding:  0 0 0 0;
    height: 100vh;
}

.titulo{
    margin-top: 5%;
    font-family: roboto;
}

#contact-form{
    margin-top: 5%;
    font-family: roboto;
}

.btn-black{
    background-color: black;
    border-color: black;
    color: white;
}
.wrapper {
    text-align: center;
}

.esp{
    margin-right:20px;
    font-family: roboto;
}
