:root{
    --trade-dark: #162331;
    --trade-light: #00788c
}

html, body{
  height: 'auto';
  width: '100%';
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
  background-image: url("assets/background1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#root{
    height: 'auto'; 
    width: '100%';
}

.btn-trade{
  background-color: #00788c !important;
  border-radius: 5px !important;
  color: #fff !important;
  width: 100%;
  margin: 0 !important;
  border: none;
  padding: 5px 10px;
  transition: opacity 0.1s ease-in-out;
}

.btn-trade:active{
  opacity: 0.5;
}